* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: inherit;
}

.container {
  margin: auto;
}

.container-fluid {
  max-width: 100%;
}

/*========== EXTRA LARGE SCREEN ==========*/
@media (min-width:1200px) {
  .container {
    max-width: 1140px;
  }
}
/*========== LARGE SCREEN ==========*/
@media (max-width:1199px) {
  .container {
    max-width: 960px;
  }
}
/*========== MEDIUM SCREEN ==========*/
@media (max-width:991px) {
  .container {
    max-width: 720px;
  }
}
/*========== SMALL SCREEN ==========*/
@media (max-width:767px) {
  .container {
    max-width: 540px;
  }
}
/*========== EXTRA SMALL SCREEN ==========*/
@media (max-width:576px) {
  .container {
    max-width: 100%;
  }
}
